.calendar__cell{
  width: 50px;
  height: 50px;
  border: 1px solid #2D2D2E;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.date__p{
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #2D2D2E;
  position: absolute;
  left: 20px;
  bottom: 4px;
}
.orange{
  color: #ff642c;
}
.calendar__cellCurrent{
  width: 50px;
  height: 50px;
  border: 1px solid #ff642c;
  border-radius: 10px;
  position: relative;
}