.header__container{
  max-width: 762px;
  width: 80vw;
  height: 50px;
  display: flex;
  align-items: center;
}
.nav{
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  width: 100%;
  align-items: center;
}
.links{
  display: flex;
  align-items: center;
  gap: 10px;
}
.button__logout{
  cursor: pointer;
  border: none;
  background-color: transparent;
}